.custom-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: fit-content;
    width: 500px;
    margin: 100px auto;
}

.custom-form .btn {
    width: 50%;
    margin: 10px auto 0;
}